body{
    margin:0;
    padding: 0;
    background-color: rgb(58, 58, 58);
}
textarea
{
    resize: none;
}
.main-content-box
{
    background-color: grey;
    width: 80%;
    height: 1000px;
    margin: 55px auto;
    padding-top: 1px;
}
.head-content
{
    display: flex;
    justify-content:space-between ;
}
.content-box-first
{
    background-color: lightgreen;
    width: 200px;
    height: 100px;
    margin: 50px auto;
    
}
.content-box-first textarea
{
    width: 80%;
    height: 80%;
    margin: 3%;
}
.content-box-second
{
    background-color: lightblue;
    width: 500px;
    height: 100px;
    margin: 50px auto;
    
    
}
.content-box-second textarea
{
    width: 480px;
    height: 80px;
}
.text-content-box
{
    background-color: red;
    width: 85%;
    height: 700px;
    margin: 50px auto;
}
.text-content-box textarea
{
    width: 680px;
    height: 680px;
}